body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3rem;
}
.top-margin {
  margin-top: 3rem;
}
.inner-padding {
  padding: 2rem;
}
.container {
  width: 95%;
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
}
.text-center {
  text-align: center;
}
.center {
  text-align: center;
  margin: 0 auto;
}

/* navbar */
nav {
  width: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.5rem #a9a8a8;
}
nav div li {
  margin-left: 1rem;
}

button {
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
}

.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

/* ***********************************************Hero section************************************************ */
.hero-grid {
  height: 80vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 0.5rem;
  color: #fff;
}
.hero-header {
  display: flex;
  justify-content: space-between;
}
.hero-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/france.jpeg")
    no-repeat center;
  background-size: cover;
}

.hero-item2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/milky.jpeg")
    no-repeat center;
  background-size: cover;
}

.hero-item3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/next_home-promo_shift-1146x372.jpg")
    no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero-item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/tcl-fold-roll.jpeg")
    no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.hero-item5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
  background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/iphone-unlock.jpeg")
    no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}

/* hero media */

/* **********************************************popular articles **********************************/
.popular {
  display: flex;
}
.popular-articles > div li {
  list-style-type: none;
  margin-right: 1rem;
}

.popular-item {
  display: flex;

  margin-right: 1rem;
}

/* latest stories */
.articles-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}
.articles-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.articles-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.articles-item3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.articles-item4 {
  grid-column-start: 4;
  grid-column-end: 5;
}
/* explore articles */
.explore-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}

.explore-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #fff;
  background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b")
    no-repeat center;
  background-size: cover;
}

.explore-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68")
    no-repeat center;
  background-size: cover;
  color: #fff;
}
.explore-item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9")
    no-repeat center;
  background-size: cover;
  color: #fff;
}
.explore-item4 {
  grid-column-start: 4;
  grid-column-end: 5;
  background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20")
    no-repeat center;
  background-size: cover;
  color: #fff;
}
.explore-item5 {
  grid-column-start: 5;
  grid-column-end: 6;
  background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad")
    no-repeat center;
  background-size: cover;
  color: #fff;
}
.inner-spacing {
  margin: 2rem;
}

.inner-spacing > img {
  width: 100%;
  height: 4rem;
}

/* newsletter */
.newsletter {
  margin-top: 5rem;
  background: url("https://next.tnwcdn.com/assets/next/img/spacesbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.newsletter > div header h2 {
  font-size: 3rem;
}

/* youtube */
.youtube {
  height: 80vh;
}

.youtube-grid {
  display: grid;
  grid-template-columns: auto 15rem;
  gap: 1rem;
}
.youtube-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.youtube-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.youtube-item1 > iframe {
  width: 100%;
  height: 100vh;
}
.youtube-item2 > iframe {
  width: 100%;
  height: 20vh;
}

/* work */

.work-grid > article div img {
  width: 7rem;
  height: 7rem;
}
.work-grid {
  display: grid;
  grid-template-columns: 50% auto auto;
  gap: 2rem;
}
.work-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.work-item2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
}
.work-item3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
}

/* footer */
footer {
  height: 60vh;
  color: #fff;
  background-color: #000;
}
.footer-grid {
  display: grid;
  grid-template-columns: 50% auto auto;
}
.footer-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer-item3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
footer div article li {
  list-style-type: none;
}

/* @media */
@media only screen and (max-width: 1020px) {
  .container {
    width: 85%;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
  }

  /* nav */
  .envelop,
  .nav-lists {
    display: none;
  }

  /* hero  */
  .hero-grid {
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0.5rem;
  }

  .hero-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/france.jpeg")
      no-repeat center;
    background-size: cover;
  }

  .hero-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/milky.jpeg")
      no-repeat center;
    background-size: cover;
  }
  .hero-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/next_home-promo_shift-1146x372.jpg")
      no-repeat center;
    background-size: cover;
  }

  .hero-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/tcl-fold-roll.jpeg")
      no-repeat center;
    background-size: cover;
  }
  .hero-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/iphone-unlock.jpeg")
      no-repeat center;
    background-size: cover;
  }

  /* popular articles */
  .popular {
    display: flex;
    flex-direction: column;
  }
  .popular-articles > div li {
    list-style-type: none;
    margin-right: 1rem;
  }

  .popular-item {
    display: flex;
    align-items: center;
  }

  /* latest stories */

  .articles-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .articles-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .articles-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .articles-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .articles-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /* explore articles */
  .explore-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .explore-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #fff;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b")
      no-repeat center;
    background-size: cover;
  }

  .explore-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .inner-spacing {
    margin: 2rem;
  }

  .inner-spacing > img {
    width: 100%;
    height: 4rem;
  }

  /* news letter */
  .newsletter {
    margin-top: 5rem;
  }

  /* work */

  .work-grid > article div img {
    width: 5rem;
    height: 5rem;
  }
  .work-grid {
    display: grid;
    grid-template-columns: 40% auto auto;
    gap: 2rem;
  }
  .work-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
  }
  .work-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .work-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  /* footer */
  /* footer */
  footer {
    height: 80vh;
    color: #fff;
    background-color: #000;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .footer-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  footer div article li {
    list-style-type: none;
  }
}

/* @media 760 */
/* @media */
@media only screen and (max-width: 760px) {
  .container {
    width: 85%;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
  }

  /* nav */
  .envelop,
  .nav-lists {
    display: none;
  }

  /* hero  */
  .hero-grid {
    height: 80vh;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
  }

  .hero-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/france.jpeg")
      no-repeat center;
    background-size: cover;
  }

  .hero-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/milky.jpeg")
      no-repeat center;
    background-size: cover;
  }
  .hero-item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url("https://s3.amazonaws.com/events.tnw/hardfork-2018/uploads/visuals/next_home-promo_shift-1146x372.jpg")
      no-repeat center;
    background-size: cover;
  }

  .hero-item4 {
    display: none;
  }
  .hero-item5 {
    display: none;
  }

  /* popular articles */
  .popular {
    display: flex;
    flex-direction: column;
  }
  .popular-articles > div li {
    list-style-type: none;
    margin-right: 1rem;
  }

  .popular-item {
    display: flex;
    align-items: center;
  }

  /* latest stories */

  .articles-grid {
    display: flex;
    flex-direction: column;
  }
  .articles-item1 {
    display: flex;
  }
  .articles-item2 {
    display: flex;
  }
  .articles-item3 {
    display: flex;
  }
  .articles-item4 {
    display: flex;
  }
  .articles-item5 {
    display: flex;
  }
  /* explore articles */
  .explore-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .explore-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #fff;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b")
      no-repeat center;
    background-size: cover;
  }

  .explore-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .inner-spacing {
    margin: 2rem;
  }

  .inner-spacing > img {
    width: 100%;
    height: 4rem;
  }

  /* news letter */
  .newsletter {
    margin-top: 5rem;
  }

  /* youtube */
  .youtube {
    height: 80vh;
  }

  .youtube-grid {
    display: flex;
    flex-direction: column;
  }
  .youtube-item1 {
    display: flex;
  }

  .youtube-item2 {
    display: flex;

    width: 100%;
    height: 40vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .youtube-item1 > iframe {
    width: 100%;
    height: 100vh;
  }
  .youtube-iframe {
    margin: 0.5rem;
  }
  .youtube-item2 > iframe {
    width: 100%;
  }

  /* work */

  .work-grid > article div img {
    width: 5rem;
    height: 5rem;
  }
  .work-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
  }
  .work-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
  }
  .work-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .work-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /* footer */
  /* footer */
  footer {
    height: 80vh;
    color: #fff;
    background-color: #000;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .footer-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  footer div article li {
    list-style-type: none;
  }
}

/* @media 760 */

@media only screen and (max-width: 760px) {
  .newsletter {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .container {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  /* explore articles */

  .explore-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .explore-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #fff;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b")
      no-repeat center;
    background-size: cover;
  }

  .explore-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .explore-item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad")
      no-repeat center;
    background-size: cover;
    color: #fff;
  }
  .inner-spacing {
    margin: 2rem;
  }

  .inner-spacing > img {
    width: 100%;
    height: 4rem;
  }
}
